File name: data_exploration

Description: this file does some light data exploration on the data set

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/healthcare_dataset.csv')
df['Name'] = df['Name'].apply(lambda x : x.lower())
df.columns.tolist()

['Name',
 'Age',
 'Gender',
 'Blood Type',
 'Medical Condition',
 'Date of Admission',
 'Doctor',
 'Hospital',
 'Insurance Provider',
 'Billing Amount',
 'Room Number',
 'Admission Type',
 'Discharge Date',
 'Medication',
 'Test Results']

data only has 40235 unique names, drop all rows with more non unique name entries

In [3]:
len(df['Name'].unique())

40235

In [4]:
print(len(df))
df.drop_duplicates(subset=['Name'], inplace=True)
len(df)

55500

40235

In [5]:
df.isna().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [ ]:
df.to_csv('data/processed_health_data.csv', index=False)